article {
    grid-column: 1;
    padding: 16px;
}

aside {
    grid-column: 2;
    padding: 18px;
}

.container {
    display: grid;
    grid-template-columns: 65% 25% ;
    color: #2D3748;
    width: 1000px;
    margin: 0 auto;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
}
  
header {
   grid-column: span 2;
   background: #63B3ED;
   color: #FFFFFF;
   text-align: center;
   padding: 15px;
   margin: 0;

}

.circle_image {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
}



h1 {
   font-size: 36px;
   font-family: Georgia, “Times New Roman”, serif;
}
     

h2 {
    font-size: 32px;
    font-family: Georgia, “Times New Roman”, serif;
    color: #48BB78;
}

h3 {
    color:  #48BB78;
    font-size: 25px;
    font-family: Georgia, “Times New Roman”, serif;
}


h4{
  color:  #000000;
  font-size: 25px;
  font-family: Georgia, “Times New Roman”, serif;
}

h5 {
  font-size: 18px;
  font-family: Georgia, “Times New Roman”, serif;
  color:  #718096;
 }

          
.about{
   background-color:  #E2E8F0;
   padding: 15px;
}

.sociallinks{
    display: block;
    text-decoration: none;
    color: #4299E1;
    padding: 5px;
 }


.float-right {
   float: right;
   margin: 10px; 
}

.float-left {
   float: left;
   margin: 10px; 
}

.foot {
    float: right;
    margin-left: 20px;
}

footer {
   grid-column: 1 / 3;
   background:  #2C5282;
   color: #FFFFFF;
   padding: 50px;
   
}